.board {
  position: relative;
  margin: 30px auto 2px;
  margin-top: 30px;
  padding: 10px;
  width: 540px;
  height: 430px;
  background-color: blue;
  z-index: 100;
}

@media (min-aspect-ratio: 0.8) {
        & { height: 60vh; } }

@media (min-aspect-ratio: 2) {
        & { height: 50vh; } }

.cell {
  display: inline-block;
  width: 62px;
  height: 62px;
  margin: 1px 5px;
  background-color: var(--Wall-Color); /* Initial white background */
  border-radius: 50%;
  border-top: solid 2px rgb(2, 2, 79);
  filter: drop-shadow(0.5px -1px 1px rgb(255 255 255 / 0.4));
  position: relative; /* Important for the positioning of :before content */


  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    opacity: 0; /* Default hidden */
    transition: opacity 0.3s ease;
  }
  
  /* Default empty cells */
  background-color: var(--Wall-Color); 
}

.cell.Red {
  background-color: red; /* X cells filled with red */
  box-shadow: inset -0.1em 0.3em 10px #161618bc;
  border-top: solid 2px blue;
  border-bottom: solid 1.5px #ffffff76;
}

.cell.Yellow {
  background-color: yellow; /* O cells filled with yellow */
  box-shadow: inset -0.1em 0.3em 10px #161618bc;
  border-top: solid 2px blue;
  border-bottom: solid 1.5px #ffffff76;
}

/* Osäker på om den här används */
.shadow {
  box-shadow: inset 0 0 10px #f8a100;
}

.red {
  background-color: red;
  color: red;
  filter: drop-shadow(0.5px -1px 1px rgb(255 255 255 / 0.2));
}

.yellow {
  color: yellow;
  background-color: yellow;
  filter: drop-shadow(0.5px -1px 1px rgb(255 255 255 / 0.2));
}

.starter {
  margin: 0 auto;
  width: 500px;
  height: 10px;
  background-color: blue;
}

.Redin-win {
  background-color: red;
  box-shadow: inset -0.1em 0.3em 10px #161618bc;
  animation: blink 1300ms linear infinite;
}

.Yellowin-win {
  background-color: yellow;
  box-shadow: inset -0.1em 0.3em 10px #161618bc;
  animation: blink 1300ms linear infinite;
}

/* show which cells that are clickable */
body[gameInProgress="true"] {
  
  .cell:not(.Red, .Yellow) {
    cursor: pointer;
  }
  
  /* pre-show the correct piece on hover/mouse-over*/
  
  &[currentPlayerColor="Red"] .cell:not(.Red, .Yellow):hover::before {
    background-color: rgb(244, 39, 39);
    content: '?';
    color: red;
    opacity: 0.7;
    font-size: 50px;
    
    text-align: center;
  }
  
  &[currentPlayerColor="Yellow"] .cell:not(.Red, .Yellow):hover::before {
    background-color: rgb(248, 248, 98);
    content: '?';
    color: rgb(84, 84, 17);
    opacity: 0.7;
    
    font-size: 50px;
    
    text-align: center;
  }
  
}

/* show the winning combo, with a blinking animation */



@keyframes blink {
  50% {
    opacity: 0.8;
  }
}



/* #under {

  margin: 0 auto;
  width: 350px;
  height: 30px;
  background-color: blue;
  border-radius: 0 0 25px 25px / 0 0 35px 35px;
  box-shadow: inset 0px -5px 10px #16161854;
} */
