body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.board {
  margin: 2px auto;
  margin-top: 30px;
  width: 500px;
  height: 430px;
  background-color: blue;
}

.cell {
  display: inline-block;
  width: 62px;
  height: 62px;
  margin: 6px 0px -4px 5px;
  background-color: #fff;
  border-radius: 50%;
  border-top: solid 2px rgb(2, 2, 79);
  filter: drop-shadow(0.5px -1px 1px rgb(255 255 255 / 0.4));

}

.shadow {
  box-shadow: inset 0 0 10px #f8a100;
}


.starter {
  margin: 0 auto;
  width: 500px;
  height: 10px;
  background-color: blue;
}

#under {
  margin: 0 auto;
  width: 350px;
  height: 30px;
  background-color: blue;
  border-radius: 0 0 25px 25px /0 0 35px 35px;
  box-shadow: inset 0px -5px 10px #16161854;
}

